<section class="app-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>A design that brings you result</h1>
                        <p>Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort
                            <br /> elderly be me. Walls began of child civil am heard hoped my. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-slider-wrapper" id="app-slider-wrapper">
            <div class="app-single-slide"><img src="assets/images/app-img1.png" alt=""></div>
            <div class="app-single-slide"><img src="assets/images/app-img2.png" alt=""></div>
            <div class="app-single-slide"><img src="assets/images/app-img3.png" alt=""></div>
            <div class="app-single-slide"><img src="assets/images/app-img4.png" alt=""></div>
            <div class="app-single-slide"><img src="assets/images/app-img5.png" alt=""></div>
            <div class="app-single-slide"><img src="assets/images/app-img6.png" alt=""></div>
        </div>
    </section>