<section class="client-area" id="reviews">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>A design that brings you result</h1>
                        <p>Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort
                            <br /> elderly be me. Walls began of child civil am heard hoped my. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="client-slider-wrapper" id="client-slider-wrapper">
                        <div class="client-single-slide">
                            <div class="client-img">
                                <img src="assets/images/client-img1.jpg" alt="">
                                <div class="client-icon">
                                    <img src="assets/images/quote-icon.png" alt="">
                                </div>
                            </div>
                            <div class="client-details">
                                <p>Civility vicinity graceful is it at. Improve up at to on mention perhaps raising. Way building not get formerly her peculiar. Speedily say has suitable disposal add boy. On forth doubt miles of child.</p>
                                <h5>Maria Jones</h5>
                                <h6>Freelancer</h6>
                            </div>
                        </div>
                        <div class="client-single-slide">
                            <div class="client-img">
                                <img src="assets/images/client-img2.jpg" alt="">
                                <div class="client-icon">
                                    <img src="assets/images/quote-icon.png" alt="">
                                </div>
                            </div>
                            <div class="client-details">
                                <p>Civility vicinity graceful is it at. Improve up at to on mention perhaps raising. Way building not get formerly her peculiar. Speedily say has suitable disposal add boy. On forth doubt miles of child.</p>
                                <h5>Eku Francies</h5>
                                <h6>Freelancer</h6>
                            </div>
                        </div>
                        <div class="client-single-slide">
                            <div class="client-img">
                                <img src="assets/images/client-img3.jpg" alt="">
                                <div class="client-icon">
                                    <img src="assets/images/quote-icon.png" alt="">
                                </div>
                            </div>
                            <div class="client-details">
                                <p>Civility vicinity graceful is it at. Improve up at to on mention perhaps raising. Way building not get formerly her peculiar. Speedily say has suitable disposal add boy. On forth doubt miles of child.</p>
                                <h5>Mithila</h5>
                                <h6>Freelancer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>