<section class="converting-area">
    <div class="container">
        <div class="row converting-area-contents">
            <div class="col-lg-4 col-md-6">
                <div class="converting-area-left">
                    <h3>About Us</h3>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="converting-area-right">
                    <p>
                        Hoang Do Express has been providing customers with all types of transportation services throughout the West and South Western suburbs of Sydney since 2008.
                    </p>    
                    <p>We are now making booking services much easier and faster for you, allowing you to have complete control over when and where you can book in the palm of your hands.</p>
                </div>
            </div>
        </div>
    </div>
</section>