<section class="customers-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Why Choose Us?</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="customers-area-single-content">
                        <div class="customers-area-single-content-icon">
                            <img src="assets/images/customers-icon1.png" alt="">
                            <div class="customers-area-single-content-icon-hover">
                                <img src="assets/images/customers-icon1-hover.png" alt="">
                            </div>
                        </div>
                        <h4>Well designed blocks</h4>
                        <p>Discovery sweetness principle discourse
                            <br /> shameless bed one excellent. Sentiments
                            <br /> of surrounded friendship dispatched.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="customers-area-single-content">
                        <div class="customers-area-single-content-icon">
                            <img src="assets/images/customers-icon2.png" alt="">
                            <div class="customers-area-single-content-icon-hover">
                                <img src="assets/images/customers-icon2-hover.png" alt="">
                            </div>
                        </div>
                        <h4>Satisfy your users</h4>
                        <p>Discovery sweetness principle discourse
                            <br /> shameless bed one excellent. Sentiments
                            <br /> of surrounded friendship dispatched.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="customers-area-single-content">
                        <div class="customers-area-single-content-icon">
                            <img src="assets/images/customers-icon3.png" alt="">
                            <div class="customers-area-single-content-icon-hover">
                                <img src="assets/images/customers-icon3-hover.png" alt="">
                            </div>
                        </div>
                        <h4>Increase conversations</h4>
                        <p>Discovery sweetness principle discourse
                            <br /> shameless bed one excellent. Sentiments
                            <br /> of surrounded friendship dispatched.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="customers-area-section-img">
                        <img src="assets/images/customers--area-bottom-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>