<section class="download-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                <div class="row">
                    <div class="col-md-7">
                        <div class="download-area-content-left">
                            <h1>Download the app now</h1>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="download-area-content-right">
                            <div class="powerful-btn-area">
                                <a href="{{ site.download_appstore }}" class="powerful-single-btn btn-hover"><img alt="Apple store" src="/assets/images/appstore.png"></a>
                                <a href="{{ site.download_googleplay }}" class="powerful-single-btn btn-hover"><img alt="Google Play" src="/assets/images/googleplay.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="download-area-bg-img">
        <img src="/assets/images/download-area-bg-img.png" alt="">
    </div>
</section>
