<section class="facts-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>5 Facts you would love</h1>
                        <p>Wrong do point avoid by fruit learn or in death. So passage however besides
                            <br /> invited comfort elderly be me. Walls began of child civil. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <div class="facts-area-main-content">
                        <div class="facts-area-main-content-items">
                            <ul>
                                <li>Easy to setup <span class="number">01</span></li>
                                <li>Make landing page quickly <span class="number number-even">02</span></li>
                                <li>Beautiful presentation <span class="number">03</span></li>
                                <li>All essential sections <span class="number number-even">04</span></li>
                                <li>Completely Responsive <span class="number">05</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>