<footer id="colophon" class="site-footer">
    <div class="container footer-top section-padding">
        <div class="row">
            <div class="col-md-4 widget widget-links">
                <h5 class="footer-widget-title">Hoang Do Airport Transfer</h5>
                <ul>
                    <li><a href="https://www.hoangdo.com.au" target="_blank">Company</a></li>
                </ul>
            </div>
            <div class="col-md-4 widget widget-links">
                <h5 class="footer-widget-title">Rider App</h5>
                <ul>
                    <li><a href="{{ site.download_appstore }}" target="_blank">App Store</a></li>
                    <li><a href="{{ site.download_googleplay }}" target="_blank">Google Play</a></li>
                </ul>
            </div>
            <div class="col-md-4 widget single-wiget-padding-top">
                <h5 class="footer-widget-title">Driver App</h5>
                <ul>
                        <li><a href="{{ site.download_appstore_driver }}" target="_blank">App Store</a></li>
                        <li><a href="{{ site.download_googleplay_driver }}" target="_blank">Google Play</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-info footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-bottom-text">
                        <p>&copy; 2018 Hoang Do Airport Transfer</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-icon">
                        <ul>
                            <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 12. footer-area End -->
</footer>