<div class="header-area" id="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="header-top-left">
                    <div class="logo-area">
                        <a href="index.html" class="logo"><img src="/assets/images/logo.png" width="110" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-6 menu-col">
                <nav class="main-menu">
                        {%- include nav.html -%}
                    
                </nav>
            </div>
            <!--

                <div class="col-lg-3 col-6 col-md-3">
                    <div class="header-right">
                        <div class="button-area">
                            <a href="#" class="download-btn btn-hover">Download Now</a>
                        </div>
                    </div>
                </div>
            -->
        </div>
    </div>
</div>