<section class="hero-area ">
    <div class="hero-area-bg-map">
        <img src="assets/images/hero-area-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="hero-area-content">
                    <h1>One Tap Get One Ride</h1>
                    <p>Move faster with Hoang Do Express. <br />Get the app for iPhone and Android.
                    </p>
                    <div class="hero-btn">
                        <a href="{{ site.download_appstore }}" class="hero-area-btn"><img alt="Apple store" src="assets/images/appstore.png"></a>
                        <a href="{{ site.download_googleplay }}" class="hero-area-btn"><img alt="Google play" src="assets/images/googleplay.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-area-img">
            <img src="assets/images/hero-area-img.png" alt="">
        </div>
    </div>
</section>