<section class="hero-area ">
    <div class="hero-area-bg-map">
        <img src="assets/images/hero-area-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="hero-area-content">
                    <h1>People Moving Airport Specialist</h1>
                    <p>You can be on the on the go much faster with Hoang Do Express with the easy to use functions.<br />
                        The app is available on iOS and Android devices.<br />
                        Download now in the Apple store or Google play
                    </p>
                    <div class="hero-btn">
                        <a href="{{ site.download_appstore }}" class="hero-area-btn"><img alt="Apple store" src="assets/images/appstore.png"></a>
                        <a href="{{ site.download_googleplay }}" class="hero-area-btn"><img alt="Google play" src="assets/images/googleplay.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-area-img">
            <img src="assets/images/hero-area-img.png" alt="">
        </div>
    </div>
</section>