<!--  jquery.min.js -->
<script src="/assets/js/jquery.min.js"></script>

<!--  bootstrap.min.js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!--  jquery.magnific-popup.min.j 
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
-->

<!--  jquery.sticky.js 
    <script src="/assets/js/jquery.sticky.js"></script>
-->

<!--  bootstrap.min.js 
    <script src="/assets/js/owl.carousel.min.js"></script>
-->

<!--  jquery.slicknav.min.js -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!--  main.js  -->
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
