<section class="powerful-area" id="content">
        <div class="container">
            <div class="row powerful-main-content">
                <div class="col-lg-5 col-md-6">
                    <div class="powerful-area-contect">
                        <div class="powerful-area-icon">
                            <img src="assets/images/icon-rider.png" alt="">
                        </div>
                        <h1>Ride with us</h1>
                        <ul>
                            <li>To Airport</li>
                            <li>To the Cruise</li>
                            <li>To Anywhere</li>
                            <li>Choose The Right Vehicle For Your Luggage</li>
                            <li>Fixed Price. No Hidden Cost.</li>
                        </ul>
                        <p>Download Rider App</p>
                        <div class="powerful-btn-area">
                            <a href="{{ site.download_appstore }}" class="powerful-single-btn btn-hover"><img alt="Apple store" src="assets/images/appstore.png"></a>
                            <a href="{{ site.download_googleplay }}" class="powerful-single-btn btn-hover"><img alt="Google Play" src="assets/images/googleplay.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="powerful-section-img">
                        <img src="assets/images/powerful-section-img1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="powerful-bg-img">
            <img src="assets/images/powerful-bg-shape.png" alt="">
        </div>
    </section>