<section class=" powerful-section2">
    <div class="container">
        <div class="row powerful-main-content">
            <div class="col-lg-7 col-md-6">
                <div class="powerful-section-img2">
                    <img src="assets/images/powerful-section-img2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="powerful-area-contect">
                    <div class="powerful-area-icon">
                        <img src="assets/images/icon-driver.png" alt="">
                    </div>
                    <h1>Drive with us</h1>
                    <p>Earn good money together!<br />
                        Be our partner and using our Driver app to connect to our customers. <br />
                        Easy use and track your earnings in the app. <br />
                            Download the app and sign up today</p>
                    <div class="powerful-btn-area">
                        <a href="{{ site.download_appstore_driver }}" class="powerful-single-btn btn-hover"><img alt="Apple store" src="assets/images/appstore.png"></a>
                        <a href="{{ site.download_googleplay_driver }}" class="powerful-single-btn btn-hover"><img alt="Google Play" src="assets/images/googleplay.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
