<section class="powerful-area" id="content">
        <div class="container">
            <div class="row powerful-main-content">
                <div class="col-lg-5 col-md-6">
                    <div class="powerful-area-contect">
                        <div class="powerful-area-icon">
                            <img src="assets/images/icon-rider.png" alt="">
                        </div>
                        <h1>Ride with us</h1>
                        <ul>
                                <li>To the airport</li>
                                <li>To the cruise terminals</li>
                                <li>To anywhere in between</li>
                                <li>Passengers have complete control over their booking as you can track your driver and select a vehicle to ensure you have enough luggage space</li>
                                <li>All prices are fixed</li>
                        </ul>
                        <p>Download Rider App</p>
                        <div class="powerful-btn-area">
                            <a href="{{ site.download_appstore }}" class="powerful-single-btn btn-hover"><img alt="Apple store" src="assets/images/appstore.png"></a>
                            <a href="{{ site.download_googleplay }}" class="powerful-single-btn btn-hover"><img alt="Google Play" src="assets/images/googleplay.png"></a>
                        </div>
                        <br />
                        <p><small>*tolls are not included</small></p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="powerful-section-img">
                        <img src="assets/images/powerful-section-img1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="powerful-bg-img">
            <img src="assets/images/powerful-bg-shape.png" alt="">
        </div>
    </section>