<h4>HOANG DO AUSTRALIA PTY LTD </h4>
<h4>SERVICES AGREEMENT WITH INDEPENDENT DRIVERS</h4>
<h5>Introduction</h5>
<ol>
    <li>Hoang Do Australia Pty Ltd trading as Hoang Do Express (&ldquo;Hoang Do Express&rdquo;) provides technology services (hereinafter referred to as &ldquo;the Technology Services&rdquo;) to independent drivers who provide transport services to Customers (as defined in the Definitions below) to and from airports and overseas passenger/boat terminals. The Technology Services provide a means to connect independent drivers with Customers, to enable independent drivers to provide transport services to Customers.</li>
    <li>The Technology Services enable independent drivers who execute this Agreement to:
        <ol>
            <li>receive requests for transport services from Customers, and</li>
            <li>provide transport services to Customers (as defined in the Definitions).</li>
        </ol>
    </li>
    <li>This Agreement (&ldquo;the Agreement&rdquo;) constitutes a legally binding agreement between you, the independent driver (&ldquo;You&rdquo;) and Hoang Do Express.</li>
    <li>The terms and conditions below govern Your use of the Technology Services. Upon Your execution of this Agreement, You and Hoang Do Express will be bound by the terms and conditions set out below.</li>
</ol>
<h5>Definitions</h5>
<ol>
    <li>Following are the definitions of key terms in this Agreement:
        <ol>
            <li><em>&ldquo;Driver ID&rdquo; </em>means an identification and password key which Hoang Do Express provides to you, in order for you to then access and use the Driver App.</li>
            <li><em>&ldquo;Driver App&rdquo;</em> means the mobile application that Hoang Do Express provides to you to enable you to access the Technology Services in order to receive and meet requests for transport services by Customers &ldquo;<em>Fare</em>&rdquo; is defined in clause 24 below.</li>
            <li>&ldquo;<em>Commission</em>&rdquo; has the meaning set forth in Section 33.</li>
            <li>&ldquo;<em>Transport Services</em>&rdquo; means the services you provide with your vehicle to Customers who wish to be transported to and from airports and overseas passenger / boat terminals using the Technology Services.</li>
            <li>&ldquo;<em>Hoang Do Express App</em>&rdquo; means the application that Customers can access and use on their mobile to obtain transport services.</li>
            <li>&ldquo;<em>Technology Services</em>&rdquo; mean the electronic services that Hoang Do Express provide to You via a digital technology platform, which enables You to receive and attend to requests by Customers for transport services to and from airports and overseas passenger/boat terminals.</li>
            <li>&ldquo;<em>Customer</em>&rdquo; means the end user and recipient of the transport services provided by you, who Hoang Do Express authorises to use the Hoang Do Express App for the purpose of obtaining Transport Services.</li>
        </ol>
    </li>
</ol>
<h5>Use of the Driver App and the Technology Services </h5>
<ol>
    <li><span style="text-decoration: underline;">Driver Account and Driver ID:</span> Once you create an account with Hoang Do Express (a &ldquo;Driver Account&rdquo;), Hoang Do Express will issue to you a Driver ID. The Driver ID enables you to access and use the Driver App on your mobile device in accordance with this Agreement. You must only access and use the Driver App for the sole purpose of providing Transport Services to Customers in accordance with this Agreement. You must not share your Driver ID with, or allow access to your Driver ID to, any third party.</li>
    <li><span style="text-decoration: underline;">Provision of Transport Services</span><span style="text-decoration: underline;">:</span>
        <ol>
            <li>Once you activate the Driver App to indicate that you are available, you may receive on the Driver App requests for Transport Services from Customers who you are in the vicinity of. If you accept a request by a Customer for you to provide Transport Services to them, you will receive via the Driver App on your mobile device information regarding the Customer, including their name, pickup location and destination.</li>
            <li>When you accept a Customer&rsquo;s request for Transport Services, information about you including your name, contact information, photo and location, together with your Vehicle&rsquo;s make and licence plate number, will be provided to the Customer to enable the Customer to know, in advance, the identity of the person picking them up, and the identity of the vehicle they will be travelling in.</li>
            <li>You acknowledge and agree that apart from receiving the benefit of the Technology Services (when you register a Driver Account with Hoang Do Express), you are solely responsible for providing all necessary equipment and materials, at your own cost, which are necessary for you to perform Transport Services.</li>
        </ol>
    </li>
</ol>
<h5>You and the Customers.</h5>
<ol>
    <li>You acknowledge and agree when you provide Transport Services to Customers, a contractual relationship is created between you and the Customer. Hoang Do Express is not a party to this contract between you and the Customer, and is not responsible or liable for any acts or omissions of the Customer in relation to you, your activities or your Vehicle. You are solely responsible for your obligations to Customers and third parties when you provide Transport Services.</li>
    <li>You are solely responsible for maintaining insurance that meets all applicable legal requirements, and for taking all reasonable precautions regarding any acts or omissions of Customers or third parties.</li>
    <li>You acknowledge and agree that Hoang Do Express shall not be liable or responsible for the acts or omissions of the Customers or third parties, or for any damage caused by the conduct of Customers or third parties to either you or to the vehicle operated by you in the course of providing Transport Services.</li>
    <li>When you are providing Transport Services to Customers, you shall not convey or allow inside your Vehicle anyone other than a Customer and any individuals who the Customer authorises, without the Customer&rsquo;s consent. You must transport Customers directly to their specified destination, without any unauthorised interruptions or stops.</li>
</ol>
<h5>The Relationship between Hoang Do Express and You.</h5>
<ol>
    <li>You agree that a contractual relationship arises between Hoang Do Express and you, in accordance with the terms and conditions of the Agreement. However, Hoang Do Express shall not, and is not obliged to, control you in relation to:
        <ol>
            <li>your provision of Transport Services to the Customers;</li>
            <li>your performance under this Agreement;</li>
            <li>your acts or omissions; or</li>
            <li>your operation and maintenance of your vehicle used in providing the Transport Services.</li>
        </ol>
    </li>
    <li>While Hoang Do Express will collect payments from Customers on your behalf for your provision of Transport Services, you and Hoang Do Express are independent contractors. This Agreement is not an employment agreement, and does not create a relationship of employment, partnership, joint venture or agency between you and Hoang Do Express.</li>
    <li>You are not authorised to bind Hoang Do Express in any way, and you agree that you will not represent or hold yourself out to anyone as an employee, agent or authorised representative of Hoang Do Express. If you are deemed by law or otherwise to be an employee, agent or representative of Hoang Do Express, you will indemnify and hold Hoang Do Express harmless from and against any claims by any person or entity (including any governmental or statutory authorities) which are based upon any employment, agency or representative relationship that is implied by law or otherwise.</li>
    <li>For the sake of clarity, Hoang Do Express is not obliged, under this Agreement or otherwise, to pay to you any income, superannuation or any other benefits or entitlements.</li>
    <li>Hoang Do Express has the right, in its sole discretion and at any time, to deactivate or otherwise restrict your access to the Driver App and the Technology Services if you breach this Agreement, disparage Hoang Do Express, or engage in conduct that causes harm to the reputation, business or goodwill of Hoang Do Express.</li>
</ol>
<h5>Devices and Equipment.</h5>
<ol>
    <li>You must ensure that you have a mobile device and any necessary wireless data plan in order to access and use the Driver App and the Technology Services, so that can provide Transport Services to Customers.  </li>
    <li>You are responsible for acquiring, maintaining and meeting the cost of your mobile devices and any necessary wireless data plan. Hoang Do Express hereby grants to you a non-exclusive and non- transferable user right to install and use the Driver App on your mobile device solely for the purpose of providing Transport Services to Customers.</li>
    <li>You shall not distribute or share with, or allow access to the Driver App to any third party. Any breach by you of this condition will be a fundamental breach that will justify the termination of this Agreement by Hoang Do Express forthwith without notice.</li>
</ol>
<h5>Your Licence and Vehicle </h5>
<ol>
    <li>You must:
        <ol>
            <li>have held an Australian Driver&rsquo;s Licence for at least two years, in order to be eligible to receive and be issued with a Driver ID which enables you to access and use the Driver App;</li>
            <li>at all times hold and maintain a valid and up to date driver's licence with a condition T to permit you to operate your Vehicle for the purpose of providing Transport Services to Customers;</li>
            <li>consent to Hoang Do Express, at the time of booking, to provide Customers with your details, which include but not limited to, your full name, car model/make/year/shape, plate number, and luggage room/capacity.</li>
            <li>at all times ensure that your vehicle used to provide Transport Services is:</li>
        </ol>
    </li>
    <li>properly registered and insured;</li>
    <li>owned or leased by you, or otherwise in your lawful possession;</li>
</ol>
<ul>
    <li>suitable to use to provide Transport Services for Customers under this Agreement;</li>
</ul>
<ol>
    <li>less than 10 years old;</li>
    <li>maintained in good operating condition, and in accordance with industry safety and maintenance standards for a Vehicle of its kind and age;</li>
    <li>regularly serviced at a Hoang Do Service Centre, not exceeding intervals of 10,000 kilometres, at your own cost;</li>
</ol>
<ul>
    <li>in a clean and sanitary condition; and</li>
    <li>smoke free.</li>
</ul>
<ol>
    <li>Further, you must ensure that when you are providing Transport Services to Customers, you wear enclosed footwear and clothes that are neat, clean and professional. You must not wear shorts, t-shirts and singlets while providing Transport Services to Customers.</li>
</ol>
<h5>Documentation.</h5>
<ol>
    <li>To ensure that you comply and are complying with the requirements for your driver&rsquo;s licence and vehicle set out in clause 20 above, you must:
        <ol>
            <li>consent to Hoang Do Express accessing the Driver Vehicle Dashboard to conduct checks re the status of vehicle registration and to ensure you are eligible as a point to point transport driver under the point to point transport legislation.</li>
            <li>provide to Hoang Do Express, prior to being issued with a Driver ID to access the Driver App (which enables you to provide Transport Services to Customers):
                <ol>
                    <li>copies of all such licences, registrations, certifications and insurances;</li>
                    <li>evidence that you have no criminal record or convictions; and</li>
                    <li>evidence that you are an Australian citizen or a permanent resident of Australia.</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>You must also provide to Hoang Do Express copies of all such licences, registrations, certifications and insurances as they are renewed. Hoang Do Express is entitled, upon request, to review such licences, registrations, certifications and insurances. If you fail to provide to Hoang Do Express these documents, or fail to maintain any of these requirements, such a failure will be a fundamental or material breach of this Agreement. Hoang Do Express also reserves the right verify this documentation at any time, in its reasonable discretion.</li>
</ol>
<h5>Fares and Commission</h5>
<ol>
    <li><span style="text-decoration: underline;">Fare Calculation and Payment to You</span><span style="text-decoration: underline;">:</span> You may charge a fare each time you complete a trip as part of the Transport Services you provide to a Customer via the Technology Services (<em>&ldquo;Fare&rdquo;</em>). The Fare will be determined once a Customer makes a booking, and will be calculated by taking into account the vehicle size, estimated distance (as determined by Hoang Do Express using location-based GPS mobile device) and estimated time for the trip (&ldquo;<em>Fare Calculation</em>&rdquo;). The Fare may fluctuate from time to time, depending upon the level of demand.</li>
    <li>You may also charge the Customer for any Tolls, airport surcharges, and other charges, taxes or fees incurred in your provision of Transport Services to Customers.</li>
    <li>You:
        <ol>
            <li>appoint Hoang Do Express to be your payment collection agent solely so that the Fare, and applicable tolls, taxes and fees, can be paid by the Customer and received by Hoang Do Express on your behalf via a payment processing system; and</li>
            <li>agree that the payment made by the Customer to Hoang Do Express shall be considered the same as a payment made directly by the Customer to you.</li>
        </ol>
    </li>
    <li>Hoang Do Express shall then pay to you on daily or weekly basis (after getting payment from the bank if customer paid by credit):
        <ol>
            <li>the Fare less the Commission, as provided in clause 32 below; and</li>
            <li>any further amounts received to cover tolls, taxes, fees or other external charges.</li>
        </ol>
    </li>
    <li><span style="text-decoration: underline;">Changes to Fare Calculation</span><span style="text-decoration: underline;">:</span> Hoang Do Express reserves the right to change the Fare Calculation at any time in its sole discretion, having regard to local market conditions or factors, and any changes in economic conditions.</li>
    <li><span style="text-decoration: underline;">Changes to Fare:</span> Hoang Do Express reserves the right to:
        <ol>
            <li>withhold, reduce or adjust the Fare for a particular instance of Transport Services, for example if there is a technical error in the Technology Services, or if Hoang Do Express detects or finds any wrongful activity by you; or</li>
            <li>cancel the Fare for a particular instance of Transport Services if, for example, the Customer is charged for Transport Services that were not provided, or Hoang Do Express finds, as a result of a Customer complaint, that there has been fraud or other form of wrongdoing by you.</li>
        </ol>
    </li>
    <li>Hoang Do Express shall exercise any decision to withhold, reduce, adjust or cancel the Fare in a reasonable manner.</li>
    <li><span style="text-decoration: underline;">Commission</span><span style="text-decoration: underline;">:</span> In consideration of Hoang Do Express providing the Technology Services to you, you shall pay Hoang Do Express a Commission on a per Transport Services transaction basis, which is equivalent to 15% of the Fare, excluding all taxes, tolls and other fees and charges. </li>
    <li>Hoang Do Express reserves the right to change the Commission at any time in its sole discretion, having regard to market conditions and factors, and business and economic conditions. Hoang Do Express will notify you of any changes to the Commission in writing. If Hoang Do Express exercises a discretion to increase the Commission, you may terminate the Agreement forthwith, without having to provide notice. However, if you continue to use the Technology Services and the Driver App after any such change in the Commission, you shall be deemed to have consented to the change.</li>
    <li><span style="text-decoration: underline;">Cancellation Charges:</span> You acknowledge and agree that Customers may cancel requests for Transport Services that you have accepted using the Driver App at any time prior to your arrival. If a Customer cancels a booking or request for Transport Services, or fails to cancel a booking then the following clauses will apply:</li>
</ol>
<h5><em><span style="text-decoration: underline;">Cancellation of an OUTGOING Trip (a booking to Airports or Overseas Passenger/Boat Terminals):</span></em></h5>
<p> </p>
<p><span style="text-decoration: underline;">Immediate pick up</span>:</p>
<p> </p>
<p>$10.00 will be charged to the Customer if the Customer fails to cancel the booking before a Driver arrives at the pick-up point. </p>
<p> </p>
<p>EXCEPTION: if the Driver notifies the Customer (by telephone, text message or other form of electronic communication accordingly) that s/he cannot arrive within 15 minutes of acceptance of the booking (or will be unable to arrive at all) due to unforeseen circumstances, then the Customer is free to cancel the booking without further penalty or charge. <strong> </strong> </p>
<p> </p>
<p><span style="text-decoration: underline;">Pre-booking</span>:</p>
<p> </p>
<p>20% of the pre-determined Fare will be charged to the Customer if the Customer fails to cancel the Pre-Booking at least 1 hour before the agreed or pre-determined pick up time.</p>
<p> </p>
<p>EXCEPTION:  if the Driver fails to notify the Customer at least 45 minutes before the specified or pre-determined time (by telephone, text message or other form of electronic communication accordingly) that s/he will be unable to arrive at the pick-up location by the specified or pre-determined time (or will be unable to arrive at all) due to unforeseen circumstances, then the Customer is free to cancel the booking without further penalty or charge.</p>
<p> </p>
<h5><em><span style="text-decoration: underline;">Cancellation of an INCOMING Trip (a booking from Airports or Overseas Passenger/Boat Terminals):</span></em></h5>
<p> </p>
<p><span style="text-decoration: underline;">Immediate pick up</span>:</p>
<p> </p>
<p>$10.00 will be charged to the Customer if the Customer fails to cancel the booking before a Driver arrives at the pick-up point. </p>
<p> </p>
<p>EXCEPTION: if the Driver notifies the Customer (by telephone, text message or other form of electronic communication accordingly) that s/he cannot arrive within 15 minutes of acceptance of the booking (or will be unable to arrive at all) due to unforeseen circumstances, then the Customer is free to cancel the booking without further penalty or charge.</p>
<p> </p>
<p><span style="text-decoration: underline;">Pre-booking</span>:</p>
<p> </p>
<p>20% of the pre-determined Fare will be charged to the Customer if the Customer fails to cancel the Pre-Booking within:</p>
<p> </p>
<p>(a)   12 hours before the agreed or pre-determined pick-up time in relation to Customers arriving on incoming flights or boats from overseas; and</p>
<p>(b)   3 hours before the agreed or pre-determined pick-up time in relation to Customers arriving on incoming flights or boats within Australia. </p>
<p> </p>
<p>IMPORTANT NOTE:</p>
<ul>
    <li>The Driver is obliged to wait a maximum of 1 hour after the pre-determined pick-up time for the Custom to arrive (&ldquo;<em>the Waiting Period</em>&rdquo;);</li>
    <li>If the Customer fails to turn up or be available for collection and transportation by the Driver within <em>the Waiting Period</em>, the Customer will be charged an amount that equals 20% of the pre-determined Fare for the Incoming Trip.</li>
</ul>
<p> </p>
<p>EXCEPTION:  if the Driver fails to notify the Customer at least 45 minutes before the specified or pre-determined time (by telephone, text message or other form of electronic communication accordingly) that s/he will be unable to arrive at the pick-up location by the specified or pre-determined time (or will be unable to arrive at all) due to unforeseen circumstances, then the Customer: (a) is free to cancel the booking without further penalty or charge, and (b) receives a credit that is equal to 20% of the pre-determined Fare for the Incoming Trip.</p>
<p> </p>
<p>Hoang Do Express may charge the Customer a cancellation fee on your behalf.  The preceding paragraphs are just a brief summary of the cancellation of a booking; thus, Hoang Do Express refers to, and strongly recommends that you carefully review this issue as set out in clause 4 &ldquo;Charges and Fares&rdquo; of the Terms and Conditions between Hoang Do Express and Customers, for the Fares and other charges which apply to the Customers of Transport Services, including Travel Now Bookings, Pre-Bookings, and cancellation fees or charges. This document is located on the website of Hoang Do Express.</p>
<ol>
    <li>If a cancellation fee is imposed upon a Customer, this cancellation fee shall be deemed the Fare for the cancelled Transportation Services for the purpose of remittance to you hereunder (&ldquo;<em>Cancellation Fee</em>&rdquo;).</li>
    <li><span style="text-decoration: underline;">Receipts:</span> Hoang Do Express shall provide to you a record of receipts provided to Customers of the Transport Services you have provided. Hoang Do Express shall provide to you and the Customer by email, once you have completed and recorded on the Driver App completion of an instance of Transport Services for a Customer, a receipt which will include the Fare charged to the Customer for the Transport Services you have provided, and a map of the route you took.</li>
</ol>
<h5>Taxes.</h5>
<ol>
    <li>You must:
        <ol>
            <li>register Taxation File Number (&ldquo;TFN&rdquo;) and an Australian Business Number (&ldquo;ABN&rdquo;) for GST purposes;</li>
            <li>comply with your taxation obligations, including paying all tax liabilities arising from your provision of transport services for Customers; and</li>
            <li>provide Hoang Do Express with your ABN and your TFN.</li>
        </ol>
    </li>
</ol>
<h5>Hoang Do Express&rsquo; Proprietary Rights</h5>
<ol>
    <li><span style="text-decoration: underline;">License Granted to You</span><span style="text-decoration: underline;">:</span> During the term of this Agreement, and subject to the terms hereof, you are granted a licence to use the Driver App and the Technology Services solely for the provision of Transport Services to Customers, and the recording of Fares, fees and Commission This licence is non-exclusive, and you must not transfer, assign or sub-license the licence or any of your rights or entitlements under this licence.</li>
    <li>Further, you must not modify the Technology Services or the Driver App, or improperly use or allow other parties to use the Technology Services or the Driver App, for purposes that are extraneous to your provision of Transport Services to Customers in accordance with the terms of this Agreement.</li>
    <li>The Technology Services, Driver App and all other data kept and maintained by Hoang Do Express, together with all intellectual property rights therein, are and shall remain the property of Hoang Do Express. You do not have any rights to the Technology Services, Driver App or any other data, beyond the limited licence granted herein.  </li>
</ol>
<h5>Confidentiality and Privacy</h5>
<ol>
    <li>You and Hoang Do Express each acknowledge that by entering into and performing this Agreement, each party may have access to or receive information that is confidential to the other party, including:
        <ol>
            <li>commercially sensitive and confidential information of Hoang Do Express (such as marketing and business data and plans, financial and operational information and other non-public information of Hoang Do Express); and</li>
            <li>confidential information of you including your financial, taxation and banking records.</li>
        </ol>
    </li>
    <li>You and Hoang Do Express each agree that:
        <ol>
            <li>all confidential information is and remains the exclusive property of the party to whom the information is confidential;</li>
            <li>neither party will use confidential information belonging to the other party for a purpose that is extraneous to this Agreement;</li>
            <li>subject to clause 43 below, neither party will disclose confidential information of the other party to any third party, with the exception of a party&rsquo;s employees, officers, contractors and agents where such disclosure is necessary to perform the obligations required by this Agreement; and</li>
            <li>they will return to each other or destroy all confidential Information of the disclosing party once this Agreement terminates, or upon request of either party.</li>
        </ol>
    </li>
    <li>The terms of this Agreement are also confidential to each party, and each party undertakes not to disclose the terms and contents of this Agreement to any third party, except as required by law, court order, subpoena or governmental authority.</li>
</ol>
<h5>Privacy</h5>
<ol>
    <li>Subject to any applicable laws, and notwithstanding clause 41(c) above, Hoang Do Express may provide to a third party personal data and information about you that you have provided to Hoang Do Express oanin accordance with this Agreement, in the following situations:
        <ol>
            <li>there is a complaint, dispute or conflict between you and a Customer;</li>
            <li>Hoang Do Express determines that it is required or needs to disclose this information in order to enforce the terms of the Agreement;</li>
            <li>it is required to do so under any applicable law or regulation; or</li>
            <li>Hoang Do Express considers that it is necessary to:</li>
        </ol>
    </li>
</ol>
<ol>
    <li>protect the safety, rights, property or security of Hoang Do Express and the Technology Services;</li>
    <li>detect, prevent or otherwise any fraudulent activity or activity the Hoang Do Express considers to be illegal, unethical, or legally actionable.</li>
</ol>
<h5>Insurance </h5>
<ol>
    <li>Before you engage in the provision of Transport Services using the Technology Services via the Driver App, you must obtain insurance, with you named as the insured, that provides protection against personal injury and property damage to you, your passengers, and third parties, which complies with the minimum insurance requirements that apply to the operation of your vehicle on public roads within the territory that you are to provide the Transport Services.</li>
    <li>You shall arrange this insurance at your sole cost. You are responsible for ensuring that your vehicle insurance provides proper and adequate protection against personal injury and property damage to you, your passengers, and third parties, when providing Transport Services to Customers under this Agreement.</li>
    <li>You must share Hoang Do Express&rsquo; public liability insurance premium, which is currently set at $250 per year per driver (this amount may be varied depending upon the number of drivers when the policy is renewed). You must also ensure that you have, during the term of this Agreement, workers&rsquo; compensation insurance or other occupational accident injury insurance that is required by any applicable law in the territory within which you provide Transport Services to Customers. This requirement does not impact on your acknowledgement in this Agreement that as between you and Hoang Do Express, you are self-employed and an independent contractor.</li>
    <li>You must provide Hoang Do Express with evidence of the insurance protection required above, upon request.</li>
    <li>Hoang Do Express reserves the right to change the minimum insurance requirements set out above, if there are any legislative or regulatory changes in the minimum levels of insurance coverage required, or if there are any other legislative or regulatory changes to insurance requirements that apply to your operation of a vehicle in the provision of transport services to Customers.</li>
</ol>
<h5>Representations and Warranties; Disclaimers </h5>
<ol start="49">
    <li>Hoang Do Express will use reasonable efforts to ensure that the Technology Services and Driver App are available at all times. However, Hoang Do Express cannot guarantee that the Technology Services or the Driver App will always be available and / or error free. In particular, the Technology Services and / or the Driver App, and / or any of the Applications that the Customers have access to in order to obtain or receive Transport Services, may be unavailable during periods where Hoang Do Express is upgrading undertaking maintenance of the Technology Services and any of the Applications.</li>
    <li>Hoang Do Express provides, and you accept, the Technology Services and the Driver App on an "as is" and "as available" basis. Hoang Do Express cannot and does not guarantee or represent that the Technology Services and the Driver App will always be available or error free, or result in any requests for Transport Services.</li>
    <li>Hoang Do Express provides a service that generates leads for Transport Services only, and cannot and does not make any guarantees or representations as to the actions or inactions of the Customers. You acknowledge and agree that in providing Transport Services to Customers, you may be introduced to a Customer or a third party that may pose harm or risk to you or other third parties. Hoang Do Express expressly disclaims all liability for any act or omission of you, any Customer or any third party in this regard.</li>
</ol>
<h5>Indemnification.</h5>
<ol>
    <li><span style="text-decoration: underline;">General Indemnity:</span> You shall indemnify and hold harmless Hoang Do Express from and against any and all claims, losses, damages, demands and liabilities arising from or related to:
        <ol>
            <li>any breach of the terms of this Agreement; or</li>
            <li>any claim by a third party (including Customers and governmental authorities) arising out of your provision of Transport Services to Customers.</li>
        </ol>
    </li>
    <li><span style="text-decoration: underline;">Limits of Liability:</span> To the extent that is permitted by law, Hoang Do Express shall not be liable under or in relation to this Agreement for (whether based in tort, contract or any other legal basis):
        <ol>
            <li>any direct, indirect, consequential or punitive damages of any kind, including any damages that are said to be reasonably foreseeable;</li>
            <li>any property damage suffered by you or any third party, including any Customers;</li>
            <li>any personal injury, property damage or other loss and damage arising out of your provision of Transport Services to Customers;</li>
            <li>any delay or failure by you to provide Transport Services to Customers.</li>
        </ol>
    </li>
</ol>
<h5>Termination </h5>
<ol>
    <li>Either party may terminate this Agreement:
        <ol>
            <li>without cause at any time upon seven days prior notice to the other party;</li>
            <li>forthwith, without notice, where the other party is in material or fundamental breach of this Agreement; or</li>
            <li>forthwith, without notice, if the other party is or becomes insolvent or bankrupt.</li>
        </ol>
    </li>
    <li>In addition, Hoang Do Express may terminate this Agreement or deactivate your Driver ID forthwith, without notice, if you are no longer qualified or able, under applicable law or the contractual requirements of Hoang Do Express, to provide transport services or to operate the Vehicle for the purpose of providing Transport Services.</li>
    <li>Upon termination by either party, you must immediately delete and fully remove the Driver App from any of your mobile devices.</li>
</ol>
<h5>Further Terms </h5>
<ol>
    <li>Hoang Do Express may change or alter the terms and conditions of this Agreement at any time. Such changes shall become effective once they are published by Hoang Do Express by way of an updated version of this Agreement, which will be made available online and accessible by you using the Technology Services.</li>
    <li>You agree that, by using the Technology Services, or by installing, accessing or using the Driver App, you are bound by any future amendments and additions to this Agreement, including any changes to the Fare Calculations. You shall be deemed to consent to such changes once you continue to use of the Technology Services or Driver App after any such changes have been made.</li>
    <li>You may not assign, delegate or otherwise transfer any of your rights or obligations under this Agreement without the prior written agreement of Hoang Do Express. Hoang Do Express is permitted to assign, delegate or otherwise transfer any of its rights or obligations under this Agreement, including to any of its subsidiaries or affiliates or to any entity that acquires legal or equitable ownership of any of the business or assets of Hoang Do Express.</li>
    <li><span style="text-decoration: underline;">Entire Agreement:</span> The terms and conditions of the Agreement set out herein set out the whole of the agreement between Hoang Do Express and You. If any provision in this Agreement is held to be void or declared illegal, invalid or unenforceable for any reason whatsoever, that provision shall be divisible and severed from this Agreement and shall be deemed to be deleted from the Agreement and the validity of the remaining provisions shall not be affected.</li>
    <li><span style="text-decoration: underline;">Governing Law; Arbitration:</span> This Agreement, and any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to the terms and conditions of the Agreement or their formation, or any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to the Agreement, shall be governed by and interpreted in accordance with the law of New South Wales, and for these purposes Hoang Do Express and You irrevocably submit to the exclusive jurisdiction of the courts of New South Wales.</li>
    <li>You and Hoang Do Express shall endeavour to settle any dispute, conflict, claim or controversy relating to this Agreement, including with regard to the existence, construction, validity or enforceability of the terms and conditions of the Agreement (collectively described as &ldquo;the Dispute&rdquo;) by the following procedure:
        <ol>
            <li>You shall in the first instance submit a complaint regarding the Dispute to Hoang Do Express by way of email to [email address], and Hoang Do Express will endeavour to respond within 5 business days;</li>
            <li>If the parties cannot resolve the Dispute within [number] business days of the complaint being made, the parties shall mandatorily submit to mediation administered by the Law Society of New South Wales before having recourse to arbitration or litigation.</li>
            <li>The mediation shall be conducted in accordance with the Law Society Mediation Model and Guidelines for commercial mediation operating at the time the matter is referred to the Law Society of New South Wales (&ldquo;<em>the Guidelines</em>&rdquo;).</li>
            <li>The terms of the Guidelines are hereby deemed to be incorporated into these Terms (a copy of the Law Society of NSW Mediation Program is available on the website of Hoang Do Express).</li>
            <li>This clause shall survive termination of these Terms.</li>
        </ol>
    </li>
</ol>
<p>By executing below, you expressly acknowledge and represent to Hoang Do Express that you have read and understood this Agreement, and agree to be bound by the Agreement.</p>
