<h5>1. Contract Between the Customer and Hoang Do Express Australia Pty Ltd</h5> 
<ul>
<li>1. The terms and conditions set out below are the terms and conditions (the “Terms”) upon which Hoang Do Australia Pty Ltd ACN 621 804 644 trading as Hoang Do Express (“Hoang Do Express”) will provide to you (the “Customer”) the ability to access and use the digital links, websites, products, applications and online content (the “Services”) owned and made available by Hoang Do Express. <br /></li>
<li>2. You, as the Customer, must read the Terms carefully before you access and use the Services. <br /></li>
<li>3. Your use of the Services is subject to these Terms. By accessing and using the Services you, as the Customer, will be deemed to have accepted these Terms, and you agree to be bound by these Terms. Hoang Do Express shall rely upon these terms and conditions as being the terms and conditions of the contract between you and Hoang Do Express. <br /></li>
<li>4. You may not access or use the Services unless you agree to these Terms. <br /></li>
<li>5. Hoang Do Express may make changes to these Terms from time to time. Changes to these Terms Your use and access of the Services following changes to these Terms will constitute your acceptance to those changes. <br /></li>
<li>6. Hoang Do Express reserve the right to terminate these Terms with respect to you, or to restrict your access and use of the Services, at any time and for any reason. <br /></li>
<li>7. Hoang Do Express will collect personal information from you if you seek to access and use the Services. This personal information will include your name, your postal address, your email address, your telephone number, and your credit card or debit card number and expiry date. Hoang Do Express will gather this information to process your registration, and provide the Services to the Customer.<br /></li>
</ul>
<br />
<br />
<h5>2. The Services </h5>
<ul>
<li>1. You, as the Customer, can arrange and book transportation services to and from airport and international boat / passenger terminals by using mobile applications and websites provided by Hoang Do Express (each of which is an “Application”). The Customer's ability to use each Application is part of the Services that Hoang Do Express provides to the Customer. <br /></li>
<li>2. To enable you, as the Customer, to access and use the Services (including the Applications) to arrange and book transportation services to and from airport and international boat / passenger terminals, Hoang Do Express grants to you a non-exclusive and revocable licence (which can be neither sublicensed nor transferable) to access and use each of the Applications on your personal device in relation to your use of the Services. <br /></li>
<li>3. The transportation services that you, as the Customer, can arrange and book using any of the Applications provided by Hoang Do Express are provided by independent third party drivers who undertake these transportation services pursuant to an agreement with Hoang Do Express (“Third Party Drivers”). <br /></li>
<li>4. The Third Party Drivers are not employed by Hoang Do Express. The transportation services are provided to you, the Customer, by the Third Party Drivers. You, as the Customer, acknowledge that Hoang Do Express does not provide the transportation services that the Third Party Drivers provide, nor does it operate as a transportation carrier. By accessing and using the Services you, as the Customer, acknowledge this. <br /></li>
<li>5. The intellectual property rights of and in relation to the Services and all of the text, pictures, videos and other content made available in and through the Services and the Applications are owned by Hoang Do Express or the licensors of Hoang Do Express. <br /></li>
<li>6. Except for the limited licence granted above you, as the Customer, are not granted any rights in relation to your use of the Services and any of the Applications. <br /></li>
<li>7. You, as the Customer, are not by these Terms: <br />
	<ul>
		<li>a. permitted to reference, use, copy, distribute, assign or otherwise exploit (except as expressly permitted by Hoang Do Express): <br />
			<ul>
			<li>i. the content made available by Hoang Do Express through the access and use of the Services and any of the Applications; <br /></li>
			<li>ii. any copyright, company names, product names, trademarks or logos of Hoang Do Express or any of the licensors of Hoang Do Express; <br /></li>
			</ul>
		</li>
		<li>b. permitted to access or use the Services and any of the Applications for any fraudulent or unlawful purpose;<br /></li>
		<li>c. interfere with, disrupt or gain unauthorised access to the Services and any of the Applications.<br /></li>
	</ul>
</li>
</ul>
<br />
<br />
<h5>3. Using the Services</h5> 
<ul>
<li>1. To use the Service and any of the Applications, the Customer must register for and maintain an active user account (an “Account”). You, as the Customer, must be at least 18 years of age to register for, create and maintain an Account. <br /></li>
<li>2. To register for an Account, you must submit to Hoang Do Express the following personal information: <br />
    <ul>
        <li>a. your name, address, mobile telephone number and age; <br /></li>
        <li>b. details of your credit or debit card details for a valid payment method. <br /></li>
    </ul>
</li>
<li>3. To continue being able to access and use the Services and any of the Applications you, as the Customer, must maintain accurate and up to date information in relation to your identity and contact details, and your preferred valid payment method. You are responsible for maintaining the completeness and accuracy of this information, and your failure to do so (for example having an invalid or expired payment method) may cause you to be unable access and use the Services and any of the Applications. <br /></li>
<li>4. You, as the Customer, are also responsible for maintaining the security of your Account username and password at all times. <br /></li>
<li>5. You, as the Customer, are responsible for obtaining and maintaining access to any network or internet connection that enables you to access and use the Services and any of the Applications. You, as the Customer, are also responsible to arrange for or obtain any updates that are required in order to continue to access and use the Services and any of the Applications. <br /></li>
<li>6. Hoang Do Express cannot guarantee that you can access and use the Services effectively through the use of any particular computer or mobile devices.<br /></li>
</ul>
<br />
<br />
<h5>4. Charges and Fares </h5>
<ul>
<li>1. Set out below is a summary of the charges that will apply in relation to the access and use of the Services, and the provision by the Third Party Drivers of the transportation services to and from airports and overseas passenger/boat terminals (hereinafter collectively referred to as the “Charges”). <br /></li>
<li>2. When the Customer registers an Account, and provides details of a valid payment method via a valid credit or debit card, the sum of $1.00 will be debited or charged to the Customer in favour of Hoang Do Express, and will be refunded to the Customer's Account once Hoang Do Express confirms that the Customer's credit or debit card details, or other payment method, is valid and current. <br /></li>
<li>3. Once the Customer registers an Account, the Customer will be able to arrange and book transportation services to and from airports and international boat / passenger terminals online via the Applications. The cost of the transportation services (the “Fare”) will be charged to the Customer's credit card, debit card, or paid by any of the valid payment methods that Hoang Do Express accept. <br /></li>
<li>4. The Fare will be confirmed and the Customer will be notified of the Fare, once the Customer's booking is finalised. However, only the Fare is fixed and the Customer must pay other charges such as airport charges and taxes and/or tolls. <br /></li>
<li>5. The Charges therefore include, but are not limited to: <br />
	<ul>
	<li>a. the Fare; together with <br /></li>
	<li>b. a surcharge of 1% of the Fare in respect of payments made via Mastercard or Visa; <br /></li>
	<li>c. any other charges, levies, tolls and taxes that are imposed by third parties which arise out of or are applicable to the provision of the transportation services by the Third Party Drivers; and <br /></li>
	<li>d. any cancellation fees applicable, as set out below. <br /></li>
	</ul>
</li>
<li><u>Transportation of Customers to Airports or to Overseas Passenger / Boat Terminals</u></li>
<li>6. The Fare to be charged to the Customer for transportation by a Driver from a particular location to an airport or an overseas passenger / boat terminal (the “Outgoing Trip”) will be a fixed fee that is determined upon the making of the booking. The amount which of the Fare: <br />
	<ul>
	<li>a. will depend upon and be commensurate with the calculated distance of the Outgoing Trip, and <br /></li>
	<li>b. shall be calculated on the basis of the shortest possible route from the pick-up location to the destination according to the Global Positioning System (“GPS”). <br /></li>
	</ul>
</li>
<li>7. The Fare for the Outgoing Trip does not include any airport fees or surcharges, taxes, tolls, levies or other charges, all of which must be charged to and paid by the Customer in addition to the Fare, and shall form part of the Charges. <br /></li>
<li>8. Cancellation of a Booking: <br />
	Subject to sub-clauses 12) and 13) below: <br />
	<ul>
		<li>a. If the Customer uses the Service to arrange or book an Outgoing Trip for an immediate pick up (referred to herein after as a “Travel Now Booking”), there will be a charge of $10.00 to the Customer if the Customer fails to cancel the Travel Now Booking before a Third Party Driver arrives at the pick-up point. <br /></li>
		<li>b. If the Customer uses the Service to arrange or book an Outgoing Trip at a specific pre-determined time (referred to hereinafter as a “Pre-Booking”), there will be a charge to the Customer of 20% of the pre-determined Fare if the Customer fails to cancel the Pre-Booking at least 1 hour before the agreed or pre-determined pick up time. <br /></li>
	</ul>
</li>
<li>Picking up clients Transportation of Customers from Airports or Overseas Passenger / Boat Terminals/ boat terminals to home : <br /></li>
<li>9. The Fare to be charged to the Customer for transportation by a Driver from an airport or an overseas passenger / boat terminal to the Customer's chosen destination (the “Incoming Trip”) will be a fixed fee that is determined upon the making of the booking. The amount which of the Fare: <br />
	<ul>
		<li>a. will depend upon and be commensurate with the calculated distance of the Incoming Trip, and <br /></li>
		<li>b. shall be calculated on the basis of the shortest possible route from the pick-up location to the destination according to the GPS. <br /></li>
	</ul>
</li>
<li>10. The Fare for the Incoming Trip does not include any airport fees or surcharges, taxes, tolls, levies or other charges, all of which must be charged to and paid by the Customer in addition to the Fare, and shall form part of the Charges. <br /></li>
<li>11. Cancellation of a Booking: <br />
	<u>Subject to sub-clauses 12) and 13) below: </u><br />
	<ul>
		<li>a. If the Customer uses the Service to arrange or book an Incoming Trip for an immediate pick up from the airport or from the overseas passenger / boat terminal (referred to also as a “Travel Now Booking”), there will be a charge of $10.00 to the Customer if the Customer fails to cancel the Travel Now Booking before a Third Party Driver arrives at the pick-up point. <br /></li>
		<li>b. If the Customer uses the Service to arrange or book an Incoming Trip at a pre-determined time for pick-up from the airport or from the overseas passenger / boat terminal (referred to also as a “Pre-Booking”), there will be a charge to the Customer of 20% of the pre-determined Fare if the Customer fails to cancel the Pre-Booking within: <br />
			<ul>
				<li> i. 12 hours before the agreed or pre-determined pick-up time in relation to Customers arriving on incoming flights or boats from overseas; and <br /></li>
				<li> ii. 3 hours before the agreed or pre-determined pick-up time in relation to Customers arriving on incoming flights or boats within Australia. <br /></li>
			</ul>
		</li>
		<li>c. If the Customer makes a Pre-Booking for an Incoming Trip at a pre-determined time: <br />
			<ul>
				<li> i. the Third Party Driver is obliged to wait a maximum of 1 hour 1.5 hours after the pre-determined pick-up time for the Custom to arrive (“the Waiting Period”); <br /></li>
				<li> ii. if the Customer fails to turn up or be available for collection and transportation by the Third Party Driver contact or notify the Third Party Driver within the Waiting Period, the Third Party Driver is at liberty to cancel the booking, and in that case the Customer will be charged an amount that equals 20% of the pre-determined Fare for the Incoming Trip. <br /></li>
			</ul>
		</li>
	</ul>
</li>
<li>12. In relation to a Travel Now Booking referred to in sub-clauses 8(a) and 11(a) above, and despite the terms of sub-clauses 8(a) and 11(a): <br />
	<ul>
		<li>a. If the Customer makes a Travel Now Booking, the Application that the Customer uses will either accept or reject the booking. <br /></li>
		<li>b. If the Travel Now Booking is accepted by the Application, the objective is that the Third Party Driver will arrive at the pick-up location within 15 minutes of the time at which the Application accepts the Travel Now Booking. <br /></li>
		<li>c. While the Third Party Driver will endeavour to arrive at the pick-up location within 15 minutes of acceptance of the Travel Now Booking, neither Hoang Do Express nor the Third Party Driver guarantee or warrant that the Third Party Driver will arrive at the pick-up destination within 15 minutes of acceptance of the Travel Now Booking. <br /></li>
		<li>d. If, after the Travel Now Booking is accepted, the Third Party Driver determines that due to unforeseen circumstances he or she will arrive at the pick-up location later than the anticipated time, or will be unable to arrive at all, the Third Party Driver will forthwith notify the Customer by telephone, text message or other form of electronic communication accordingly, in which case the Customer is free to cancel the Travel Now Booking without further penalty or charge. <br /></li>
	</ul>
</li>
<li>13. In relation to a Pre-Booking referred to in sub-clause 8(b) above, and despite the terms of sub-clause 8(b): <br />
	<ul>
		<li>a. If the Customer makes a Pre-Booking for an Outgojng Trip, and the Third Party Driver determines, after the acceptance of the Pre-Booking, that due to unforeseen circumstances he or she will be unable to arrive at the pick-up location by the specified or pre-determined time, or will be unable to arrive at all, the Third Party Driver will notify the Customer by telephone, text message or other form of electronic communication at least 45 minutes before the specified or pre-determined time, in which case the Customer is free to cancel the Pre-Booking without further penalty or charge. <br /></li>
		<li>b. If the Third Party Driver fails to provide the notification in the circumstances set out in sub-clause 13(a) above at least 45 minutes before the specified or pre-determined time, the Customer shall receive a credit that is equal to 20% of the pre-determined Fare for the Outgoing Trip. (this clause must be present in the Driver Agreement) Repair or Cleaning Charges <br /></li>
	</ul>
</li>
<li>14. If You, as the Customer, causes damage to a vehicle driven by a Driver, or leaves the Vehicle in a state that requires cleaning, You shall be liable to pay for the cost of repairing the damage to the vehicle, or the cost to clean the vehicle, as the case may be (“Repair or Cleaning Charges”). <br /></li>
<li>15. The minimum charge for Repair or Cleaning Charges will be $55.00. Hoang Do Express reserves the right to facilitate payment of the Repair or Cleaning Charges by using the payment method set out in sub-paragraph 3) above.<br /></li>
</ul>
<br />
<br />
<h5>5. Payment</h5> 
<ul>
<li>1. The Charges and Fares set out in section 4 above are charged to and payable by Customer from the Customer's use of the Services, and/or the Customer's receipt of the transportation services provided by the Third Party Drivers as a result of a booking. <br /></li>
<li>2. All Charges and Fares are immediately due and payable by the Customer, once the Customer has: <br />
	<ul>
		<li>a. received the transportation services obtained via the Customer's use of the Services, or <br /></li>
		<li>b. has otherwise used the Services and is liable for any other Charges that arise herein. <br /></li>
	</ul>
</li>
<li>3. All Charges and Fares will be paid by way of a secure online payment system known as EWAY, which: <br />
	<ul>
		<li>a. facilitates payments of the Charges and Fares, and <br /></li>
		<li>b. will enable Hoang Do Express to accept credit and debit card payments via the Customer's use of the Services. <br /></li>
	</ul>
</li>
<li>4. The Charges imposed are final and non-refundable. Hoang Do Express will facilitate the Customer's payment of the Charges using the preferred payment method set out in the Customer's Account.<br /></li>
</ul>
<br />
<br />
<h5>6. Disclaimers and Limitation of Liability; Indemnity.</h5> 
<ul>
<li>1. Hoang Do Express will use reasonable efforts to ensure that the Services and any of the Applications are available at all times. However, Hoang Do Express cannot guarantee that the Services and any of the Applications will always be available and / or error free. In particular, the Services and / or any of the Applications may be unavailable during periods where Hoang Do Express is implementing upgrades to or carrying out essential maintenance on the Services and any of the Applications. <br /></li>
<li>2. Hoang Do Express provides the Services, and the ability for a Customer to access and use any of the Applications, on an “as is” basis. To the maximum extent permitted by law, Hoang Do Express makes no, and disclaims all, representations or warranties, express, implied or statutory, as to: <br />
	<ul>
		<li>a. the quality, completeness or accuracy of any content or information made available in the provision of the Services; <br /></li>
		<li>b. merchantability and fitness for purpose of the Services. <br /></li>
	</ul>
</li>
<li>3. To the maximum extent permitted by law, Hoang Do Express makes no representations, warranties or guarantees, express, implied or statutory, as to the reliability, timeliness, quality, suitability or availability of:<br />
	<ul>
		<li>a. the Services; <br /></li>
		<li>b. the transportation services provided by the Third Party Drivers that the Customer requests through the access and use of the Services; <br /></li>
		<li>c. the quality, appropriateness, safety or ability of the Third Party Drivers. <br /></li>
	</ul>
</li>
<li>4. To the maximum extent permitted by law You, as the Customer, agree that your access to and use of the Services and of any transportation services that a Driver provides at your request, at entirely at your own risk. <br /></li>
<li>5. To the extent that is permitted by law, Hoang Do Express shall not be liable for: <br />
	<ul>
		<li>a. any direct, indirect, consequential or punitive damages arising from or out of the Customer's use of the Services or of any of the Applications, including any damages that are said to be reasonably foreseeable; <br /></li>
		<li>b. any transportation service provided by the Third Party Driver to the Customer as a result of the Customer using the Service and / or any of the Applications to make bookings for transportation; <br /></li>
		<li>c. any delay or failure in performance in respect of the Services, or in respect of the transportation services provided by the Third Party Drivers, that are beyond the reasonable control of Hoang Do Express <br /></li>
	</ul>
</li>
<li>6. The Customer shall indemnify and hold harmless Hoang Do Express (including the officers, directors, agents and employees of Hoang Do Express) from and against all claims and losses arising from loss, damage, liability, demands and expenses arising out of or by reason of the Customer's use of the Services or of the transportation services provided by the Third Party Drivers, or a breach of the Customer's obligations under these Terms.(The client wants to delete this clause if possible, as he thinks it may scare customers off).<br /></li>
</ul>
<br />
<br />
<h5>7. Governing Law.</h5>
<ul>
<li>1. These Terms and any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to them or their formation, or any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to the provision of the Services, shall be governed by and interpreted in accordance with the law of New South Wales, and for these purposes Hoang Do Express and the Customer irrevocably submit to the exclusive jurisdiction of the courts of New South Wales. <br /></li>
<li>2. The Customer and Hoang Do Express shall endeavour to settle any dispute, conflict, claim or controversy relating to these Terms or the Services, including with regard to the existence, construction, validity or enforceability of the Terms (collectively described as “the Dispute”) by the following procedure: <br />
	<ul>
		<li>a. The Customer shall in the first instance submit a complaint regarding the Dispute to Hoang Do Express by way of email to [email address], and Hoang Do Express will endeavour to respond within 5 business days; <br /></li>
		<li>b. If the parties cannot resolve the Dispute within [number] business days of the complaint being made, the parties shall mandatorily submit to mediation administered by the Law Society of NSW Australian Disputes Centre (“ADC”) before having recourse to arbitration or litigation. <br /></li>
		<li>c. The mediation shall be conducted in accordance with the Law Society Mediation Model and Guidelines ADC Guidelines for commercial mediation operating at the time the matter is referred to the Law Society of NSW ADC (“the Guidelines”). <br /></li>
		<li>d. The terms of the Guidelines are hereby deemed to be incorporated into these Terms (a copy of the Law Society of NSW Mediation Program is available on the website of Hoang Do Express). <br /></li>
		<li>e. This clause shall survive termination of these Terms.<br /></li>
	</ul>
</li>
</ul>
<br />
<br />
<h5>8.Other General Provisions </h5>
<ul>
<li>1. The Customer may not assign, delegate or otherwise transfer any of his / her rights or obligations under these Terms without the prior written agreement of Hoang Do Express. <br /></li>
<li>2. Neither these Terms, nor the Customer's use of or access to the Services, create any joint venture, partnership or agency relationship between the Customer, Hoang Do Express or the Third Party Driver. <br /></li>
<li>3. Hoang Do Express is permitted to assign, delegate or otherwise transfer any of its rights or obligations under these Terms, including to any of its subsidiaries or affiliates or to any entity that acquires legal or equitable ownership of any of the business or assets of Hoang Do Express. <br /></li>
<li>4. These Terms set out the whole of the agreement between Hoang Do Express and the Customer relating to the provision of the Services and the Applications. If any provision in these Terms is held to be void or declared illegal, invalid or unenforceable for any reason whatsoever, that provision shall be divisible and severed from these Terms and shall be deemed to be deleted from these Terms and the validity of the remaining provisions shall not be affected. <br /></li>
</ul>
<br />
<br />
<h5>9. Privacy Policy The Information Collected About the Customer</h5>
<ul>
<li>1. Hoang Do Express takes the Customer's privacy very seriously. The Customer must read this policy carefully as it contains important information about what to expect when Hoang Do Express collects personal information about the Customer and how Hoang Do Express will use the Customer's personal data. <br /></li>
<li>2. This policy applies to: <br />
	<ul>
		<li>a. visitors to the website of Hoang Do Express; <br /></li>
		<li>b. Customers who access and use the Service and Applications; [continued as required] <br /></li>
		<li>c. People who register an Account. <br /></li>
	</ul>
</li>
<li>3. When You, as the Customer, register an Account, and access and use the Services and the Applications, Hoang Do Express will collect the following personal information from You: a. Name; b. Postal address, email address, telephone number, credit card number and expiry date.; and [specify other information required]. <br /></li>
<li>4. Occasionally Hoang Do Express may receive information about the Customer from other sources (such as credit reference agencies or financial institutions or credit providers), which Hoang Do Express will add to the information which Hoang Do Express already holds about the Customer, in order to enable Hoang Do Express to continue to provide the Services to the Customer. How Hoang Do Express Will Use Information About the Customer <br /></li>
<li>5. Hoang Do Express will gather this information to allow Hoang Do Express to process the Customer's registration for an Account, and to enable the Customer to access and use the Services and the Applications. The relevant information will then be used by Hoang Do Express and the Third Party Drivers to communicate with You, the Customer, on any matter relating to the conduct of the Customer's account, and the Customer's access to and use of the Services and the Applications. If You, as the Customer, agree, Hoang Do Express may also contact the Customer about other products and services that Hoang Do Express thinks may be of interest to the Customer. <br /></li>
<li>6. Hoang Do Express may also use aggregate information and statistics for the purposes of monitoring website usage in order to help Hoang Do Express to develop its website, the Services and the Applications. Hoang Do Express may also provide such aggregate information to third parties. These statistics will not include information that can be used to identify the Customer. <br /></li>
<li>7. From time to time Hoang Do Express may provide information to its customer service agencies for research and analysis purposes so that Hoang Do Express can monitor and improve the Services and the Applications that the Customer can access and use. Hoang Do Express, and its agents and sub-contractors, may contact You, as the Customer (by post, email, telephone, social media or by any other form of electronic communication) to ask You for your feedback and comments on the Services and the Applications as the case may be. Marketing <br /></li>
<li>8. Hoang Do Express may also wish to provide the Customer with information about special features of Hoang Do Express' website or any other aspect of the Services or the Applications, which Hoang Do Express thinks may be of interest to the Customer. If the Customer would rather not receive this information, the Customer can send a blank email message to [email address and / or link]. If the Customer agrees to Hoang Do Express providing marketing information to the Customer, the Customer can always opt out at a later date. <br /></li>
<li>9. Hoang Do Express may also wish to provide the Customer with related information from third parties that may be of interest to the Customer. If the Customer would rather not receive this information, the Customer can send a blank email message to [email address and / or link]. If the Customer agrees to Hoang Do Express providing third party marketing information to the Customer, the Customer can always opt out at a later date. <br /></li>
<li>10. Hoang Do Express may also provide the Customer's information to carefully selected third parties whose products or services Hoang Do Express believes may be of interest to the Customer. If the Customer does not wish Hoang Do Express to disclose the Customer's information in this way, the Customer should send an email to [email address and link]. How Hoang Do Express Will Protect the Customer's Personal Information Customers' banking details are kept by EWAY, not by Hoang Do Express. See this link about EWAY:<br />https://www.eway.com.au/about-eway<br /></li>
<li>11. Hoang Do Express will use all reasonable efforts to safeguard the Customer's personal information. However, the Customer should be aware that the use of the Internet is not entirely secure and for this reason we cannot guarantee the security or integrity of any personal information which is transferred from or to the Customer via the Internet. Customer's Access to Information and Updating / Correcting the Customer's Information <br /></li>
<li>12. The Customer has the right to request a copy of the information that Hoang Do Express holds about the Customer. If the Customer seeks a copy of some or all of the Customer's personal information, the Customer can and is encouraged to send an email to [email address and link] or send a letter to [name and address]. <br /></li>
<li>13. Hoang Do Express seeks to ensure that the Customer's personal information is accurate and up to date. If any of the information that You, as the Customer, have provided to Hoang Do Express changes, for example if You change your email address, name or payment details, or if You wish to cancel your Account or access to and use of the Services and the Applications, the Customer can let Hoang Do Express know the correct details by sending an email to [email address] or by sending a letter to [name and address]. The Customer may also ask Hoang Do Express, or Hoang Do Express may also ask the Customer, to correct information that the Customer or Hoang Do Express thinks is inaccurate, and the Customer may also ask Hoang Do Express to remove information which is inaccurate. Sale of Business <br /></li>
<li>14. If Hoang Do Express' business is sold or integrated with another business, the Customer's details may be disclosed to the new advisors of Hoang Do Express, and to any prospective purchasers and their advisors, and will be passed on to the new owners of the business. The Customer's Consent <br /></li>
<li>15. By submitting your personal information, You as the Customer consent to the use of that information as set out in this policy. Changes to Privacy Policy <br /></li>
<li>16. Hoang Do Express will keep its privacy policy under regular review. If Hoang Do Express changes its privacy policy it will post the changes on the webpage, update the Terms, and place notices on other pages of the website, so that the Customer is aware of the information that Hoang Do Express collects and how it is used at all times. <br /></li>
<li>17. Hoang Do Express welcomes the Customer's views about the website and the privacy policy. If You, as the Customer, would like to contact Hoang Do Express with any queries or comments, You can send an email to [email address] or send a letter to [name and address]. How to Contact Hoang Do Express <br /></li>
<li>18. Hoang Do Express' website contains links to other websites. This privacy policy only applies to this website, so if You as the Customer links to other websites You should read their own privacy policies.<br /></li>
</ul>
