<section class="works-area"  id="works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h1>How it works?</h1>
                    <p>Easy as 1-2-3</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="works-area-single-content">
                    <h4>1. Receive Request</h4>
                    <div class="works-area-single-content-icon">
                        <img src="assets/images/phone-1.png" alt="">
                    </div>
                    <div class="works-arrow-icon">
                        <i class="fa fa-3x fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-area-single-content">
                    <h4>2. Drive</h4>
                    <div class="works-area-single-content-icon">
                        <img src="assets/images/phone-2.png" alt="">
                    </div>
                    <div class="works-arrow-icon">
                        <i class="fa fa-3x fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-area-single-content">
                    <h4>3. Pay &amp; Rate</h4>
                    <div class="works-area-single-content-icon">
                        <img src="assets/images/phone-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>