   
// Font-Family
$body_font:'Poppins', sans-serif;
$bold:700;
$semi_bold:600;
$medium:500;
$regular:400;
$light:300;
$thin:100;


// Title Font-family
$title_font: 'Montserrat', sans-serif;
$extra_font: 'Open+Sans', sans-serif;