<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="home2">
    <!-- 01. header-area Start -->
    {%- include header.html -%}
    <!-- 01. header-area End -->
    <!-- 02. hero-area Start -->
    {%- include hero-area.html -%}
    <!-- 02. hero-area End -->
	<!-- 03. featured-area -->
	{%- include featured-area.html -%}
	<!-- 03. featured-area -->
    <!-- 04. converting-area -->
    {%- include converting-area.html -%}
	<!-- 04. converting-area End -->
{% comment %}
    <!-- 05. customers-area start -->
	{%- include customer-area.html -%}
    <!-- 05. customers-area End -->
{% endcomment %}
	<!-- 06. works-area start -->
	{%- include works-area.html -%}
	<!-- 06. works-area End -->
{% comment %}
    <!-- 07. speciality-area start -->
    {%- include result-area.html -%}
	<!-- 07. result-area End -->
{% endcomment %}	
	<!-- 08. powerful-area start -->
	{%- include powerful-area-1.html -%}
    <!--- 08. powerful-area End -->
	<!-- 09. powerful-section2 Start -->
	{%- include powerful-area-2.html -%}
	<!-- 09. powerful-section2 End -->
{% comment %}	
	<!--- 10. app-area Start -->
	{%- include app-area.html -%}
    <!--- 09. app-area End -->
    <!--- 10. client-area Start -->
    {%- include client-area.html -%}
    <!--- 10. client-area End -->
	<!--- 11. facts-area Start -->
	{%- include facts-area.html -%}
    <!--- 11. facts-area End -->
{% endcomment %}
	<!--- 12. download-area Start -->
	{%- include download-area.html -%}
    <!--- 12. download-area End -->
    <!-- 13. footer-area Start -->
    {%- include footer.html -%}


    {%- include javascript.html -%}

</body>

</html>