---
layout: default
---

<section class="inner-hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-hero-area-content">
                    <h1>{{ page.headline }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-hero-bg-img">
        <img src="/assets/images/blog-inner-hero-bg.png" alt="">
    </div>
</section>
<section class="inner-blog-area inner-single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-single-blog-area-left">
                    <div class="single-blog-details">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>